html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a basic font and background color to the entire page */
body {
    font-family: Arial, sans-serif;
}

/* Add some padding and a border to the main content area */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

/* Style headings and paragraphs */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Add some basic styling to links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F9DEC9;
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: #F78CA2;
    border-radius: 10px;
    padding: 5px;
}

#buttons, #print {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: #F0DEE2;
    font-size: 40px;
    color: #3D0C11 ;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#stop {
    margin-left: 10px;
}

#stop, #start {
    align-items: center;
    background-clip: padding-box;
    background-color: #3D0C11;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #F9DEC9;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

#start:hover,
#start:focus,
#stop:hover,
#stop:focus{
    background-color: #D80032;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#start:hover,
#stop:hover {
    transform: translateY(-1px);
}

#start:active,
#stop:active{
    background-color: #D80032;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
